
   @font-face {
    font-family: "lcd";
    src: url("././aclock.ttf") format("truetype"); /* Safari, Android, iOS */
  }


body
{
    padding:0px;
    margin: 0px;
    
    transition: all 100ms linear;
    background-color: #e3edf7;
    font-family: 'Poppins', sans-serif;
}







body.dark .sha_temp_body .sha_temp {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin-top: 20px;

    background-color: azure;
    position: relative;
    display: inline-block;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.1), -0.5px -0.5px 0 rgba(255,255,255,1), 0.5px 0.5px 0 rgba(0,0,0,0.02);
}

.top-buffer { margin-top:20px; }
.height_auto{
    
height: auto;
min-height: 230px;
    
}


.loader svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#sha_app
{
    padding: 20px 0px;
}

.input_, .input_:focus{
    background: none;
    border: solid 0px ;
    outline: none;
}

/** Start Section Header Bar Style **/
#sha_header_bar
{
    color: rgba(49,69,106,0.6);

}

#sha_header_bar span
{
    display: block;
}

#sha_header_bar span.sub-heading
{
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
}


#sha_header_bar span.heading
{
    color: rgba(49,69,106,1);
    font-size: 25px;
    font-weight: 600;
    margin-top: -5px;
}

body.dark span.heading, 
body.dark .sub-heading,
body.dark i.fa,
body.dark span.sha_temp .temp-info,
body.dark span.sha_temp .temp-data
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: color ease 1s;    
    color: rgba(50,50,50,0.7) !important;
} 


.chart-container .chart-container-header
{
    color: rgba(49,69,106,0.6);
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
}
.chart-container .buttons-container
{

    position: absolute;
    z-index: 999999;
    right: 12px;
    margin-top: -7%;
}


/** End Section Header Bar Style **/

/** Start Section Button List Style **/
#sha_button_list 
{
    margin-top: 10px;
    margin-bottom: 15px;
}

#sha_button_list ul
{
    padding: 0;
}

#sha_button_list ul li
{
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px 0;
 }

 #sha_button_list ul li:first-child
 {
    margin-left: -5px;
    border: none solid;
 }

#sha_button_list ul li span
{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    padding-top: 14px;
}

#sha_button_list ul li.off span
{
    color: rgba(49,69,106,0.35);

    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);

 padding-top: 14px;
     
  
}

#sha_button_list ul li span{
  
  transition: all ease-out .5s;
}

#sha_button_list ul li.on span
{

  border-top:4px solid rgba(255, 127, 71,.9);  
  padding-top:12px;
  color: rgba(49,69,106,1.35);
background-color:rgba(49,69,106,0.0);;
box-shadow: 1px -6px 8px rgba(255, 127, 71, 0.3), 3px 3px 5px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
  
}
/*padding:0px 0px 0px; */
/** End Section Button List Style **/
/*padding:0px 0px 0px; */
/** Start Section Body 1 Style **/


.col_gradient{
    
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+32 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */    
    
}

.white_back{
  background-color: rgba(241,241,241,1.3) !important;
}



.sha_temp_body .sha_tile .white_back{ 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: absolute;
   z-index: 120;
    
    
}


.sha_temp_body .sha_temp
{  
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */ 
    margin-top: 20px;
    z-index: 10000;
    position: absolute;
    display: inline-block;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.1),
                -10px -10px 20px -10px rgba(255,255,255,0.65),
                -0.5px -0.5px 0 rgba(255,255,255,1),
                0.5px 0.5px 0 rgba(0,0,0,0.02);
}

.sha_temp_body .sha_temp > span
{
     -ms-user-select: none;  
     display: inline-block;
     transform: translateY(-60%);
     position: absolute;
     top: 123px;
     left: 22px;
     -ms-user-select: none;
     user-select: none;


}



.sha_temp_body .sha_temp > span > span.temp-data
{
    user-select: none;
    font-size: 78px;
    font-weight: bolder;
    margin-top: -65px;
    margin-left: -78px;
    position: absolute;
    display: block;
    text-align: right;
    width: 200px;
    color: rgba(49,69,106,1);
    font-family: 'lcd', Fallback, sans-serif;
    text-shadow: 3px 3px 3px rgb(120 120 100 / 16%);
}
.sha_temp_body .small_01{
    position: absolute;
    margin-top: 30px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 44px;
    font-weight: bolder;
}
.sha_temp_body sup{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;
    left: 120px;
     font-size: 70px;
        
}

.sha_temp_body .sha_temp > span > span.hum-data
{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    font-size: 45px;
    font-weight: normal;
    margin-top: 14px;
    margin-left: 65px;
    display: block;
    width: 55px;
    text-align: right;
    color: rgba(49,69,106,1);
    font-family: 'lcd', Fallback, sans-serif;
    text-shadow: 3px 3px 3px rgb(120 120 100 / 13%);
}
.sha_temp_body span.hum-data .small_01{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 30px;
    font-weight: bolder;
}
.sha_temp_body span.hum-data span.sup{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 5px;
    left: 56px;
    /* left: 120px; */
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 15px;
    font-family: system-ui;
    opacity: 0.9;
        
}


.sha_temp_body .sha_temp > span > span.temp-data sup
{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    top: 16%;
    margin-left: 87px;
}

.sha_temp_body .sha_temp > span > span.temp-info
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: rgba(49,69,106,0.6);
    white-space: nowrap;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    
}




.sha_temp_body .sha_temp:before
{
    position: absolute;
    content: '';
    display: block;
    width: 97%;
    height: 97%;
    border:rgba(55,55,55,0.1) 4px black;
    border-radius: inherit;
    
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.03),
                inset -4px -4px 6px -1px rgba(0,0,0,0.05);

    opacity: 1;
    }


.sha_temp_body .sha_temp hr.line_{
    width: 160px;
    position: absolute;
    top: 6px;
    left: 10px;
    color: black;
    opacity: 0.25;
    
}

.sha_temp_body .sha_temp:after
{
    position: absolute;
    content: '';
    display: block;
    width: 78%;
    height: 78%;
    border-radius: inherit;
    left: 50%;
    top: 50%;
    background-color: rgba(0,0,0,0.025);
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.02),
                inset -4px -4px 16px -1px rgba(5,5,5,0.04);
}
/** End Section Body 1 Style **/

/** Start Section Body 2 Style **/
#sha_temp_meta
{
    margin-top: 30px;
}

 .sha_tile > div
{
    position: relative;
    border: 1px solid rgba(255,255,255,0.7);
    background-color: rgba(0,0,0,0.01);
    border-radius: 15px;  
    padding: 22px;
    box-shadow: 15px 5px 20px -10px rgba(0,0,0,0.15),
                -15px -5px 20px -10px rgba(255,255,255,0.8);
}

 .sha_tile > div span.tile_icon
{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.02);
    background-color: rgba(0,0,0,0.01);
    color: rgba(49,69,106,0.6);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding-top: 17px
}

 .sha_tile > div span.tile_info
{
    position: absolute;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(49,69,106,0.8);
    padding-left: 14px;
    margin-top: 5px;
}

 .sha_tile > div span.tile_info span
{
    display: block;
    font-weight: 400;
    color: rgba(49,69,106,0.5);
}

.sha_tile:not(last-child)
{
    margin-bottom: 12px;
}
/** End Section Body 2 Style **/

/** Start Section Footer Style **/
#sha_footer
{
    margin-top: 15px;
    color: rgba(49,69,106,0.5);
}

#sha_footer .footer_title
{
    font-size: 15px;
    display: block;
}

#sha_footer .footer_data
{
    font-size: 18px;
    font-weight: 500;
    color: rgba(49,69,106,1);
}

#sha_footer .footer_data span
{
    color: rgba(49,69,106,0.5);
}


@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}


.x2{
    
transform: scale(0.5);    
    
}
.sha_switch.enable_heat{

    position: relative;
    right: 33px;
    z-index: 30000;
    bottom: -203px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

 .sha_switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.7);
     background: rgba(255, 127, 71,.9);
    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.15);
    margin-top: 2px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

 .sha_switch:before
{

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    content: '';
    position: absolute;
    width: 30px;
    height: 26px;
    background-color: #e3edf7;
    border-radius: 12px;
    right: 1px;
    top: 1px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.15);
     transition: all ease-out 0.4s;  
}
/** End Section Footer Style **/



.sha_switch.off:before
{
  right: 27;
   
  
}








.yt {
  position: fixed;
  padding: 7px 10px 7.5px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  z-index: 99999;
}

.yt:hover {
  background: rgba(0, 0, 0, 0.4);
}


.icons_menu_up{
    display: flex;
   
    flex-wrap: nowrap;
    justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
    .icons_menu_up {
      justify-content: flex-end;
    }
  }
.header_icons{
    justify-content: flex-end;
margin-right: 10px;
}
.header_icons img{
    width: 40px !important;
    margin-right: 10px;
    border-radius: 40%;
}

.header_icons img:hover{
  transition: all 0.2s ease;
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

 .enc{
    background: transparent;
    opacity: 0;
    position: absolute;
    /* left: 35px; */
    margin-left: 5px;
    width: 230px;
    /* top: 51px; */
    height: 229px;
    z-index: 140000;
    /* height: 229px; */
    margin-top: 25px;
    /* border-radius: 122px; */
    /* padding-top: 120px; */
    /* background-color: rgba(0,0,0,0.1); */
    transition: all ease 0.5s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    }

.enc .backx{
    
    position: absolute;
    width: 158px;
    background: rgba(235, 235, 235, 0.98);
    /* height: 95px; */
    height: 141px;
    margin-top: -182px;
    margin-left: 33px;
    border-radius: 99px;
    transition: all ease 0.5s;
    opacity: 1;
    z-index: 90000000;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
 
.enc.visible{
    opacity:1;
    transition: all ease 0.5s;
    background: none;
}
 .enc:hover{
    background: none;
    opacity:1;
    transition: all ease 0.5s;

}
.enc .backx .heat_value{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 63px;
    margin-left: 11px;
    font-weight: bold;
    margin-top: 23px;
    font-family: 'lcd', Fallback, sans-serif;
    color: rgba(48, 67, 104, 1.000);
    background: transparent;
    text-shadow: 3px 3px 3px rgb(120 120 100 / 13%);

}

.enc .backx .heat_value:last-letter{
    font-size: 20px;
    font-weight: 500;
    color: rgba(48, 67, 104, 1.000);
    background: transparent;
    text-shadow: 3px 3px 3px rgb(120 120 100 / 13%);
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'lcd', Fallback, sans-serif;
}

.room_element .mac_device{
display:none;

}
.room_element .menu_room{
    background: transparent;
    width: 75%;
    background-color: rgba(0,0,0,0.1);
    min-height: 186px;
    margin-top: 43px;
    position: absolute;
    padding-left: 27px;
    right: 0px;
    text-align: right;
    padding-right: 16px;


}
.room_element .menu_room .roomName{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 25px;
    font-weight: 500;
    /* color: rgba(49,69,106,0.8); */
    color: rgba(241, 241, 241, 1.000);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    /* background-color: rgba(0,0,0,0.1); */
    /* border: 1px solid rgba(0,0,0,0.1); */
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%); */
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    /* writing-mode: vertical-rl; */
    /* transform: rotate3d(1,1,1,45deg); */
}

